include ./pug/head.pug
body
  // Google Tag Manager (noscript)
  noscript
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NLDQLQM', height='0', width='0', style='display:none;visibility:hidden')
  // End Google Tag Manager (noscript)

  div.bg-image
  header.flex.flex-column.lg-flex-row.josefin-sans.justify-center.items-center.relative.z1.bg-black-trans.white.p1
    h1.text-center.m0.mt2.md-mt1.p0.fw500.text36.md-text60 
      | DEEP END YOUTH
    span.ml1.mr1.hide-it.mt2.md-mt1.lg-inline.fw500.text36.md-text60  //
    p.m0 ages we flow through aren't candles to right now

  // Streaming Service links
  -
    const streamingServices = [
      {
        text: 'Spotify',
        url: 'https://open.spotify.com/album/7b0V4nQZGQMOkhSQPHPqxk',
        icon: './images/spotify.svg',
        hoverColor: '#1DB954'
      },
      {
        text: 'Apple Music',
        url: 'https://music.apple.com/us/album/deep-end-youth-ep/1693681497?app=music',
        icon: './images/apple.svg',
        hoverColor: '#f94c57'
      },
      {
        text: 'Amazon Music',
        url: 'https://music.amazon.com/albums/B0C8WW6ZCQ',
        icon: './images/amazon.svg',
        hoverColor: '#0DBFF5'
      },
      {
        text: 'Youtube',
        url: 'https://youtube.com/playlist?list=OLAK5uy_nW-88T61ydLbCFe62IzuQC86NWMFY2uJs',
        icon: './images/youtube.svg',
        hoverColor: '#FF0000'
      },
      {
        text: 'Pandora',
        url: 'https://www.pandora.com/artist/deep-end-youth/deep-end-youth/ALt3p79fpfnJ6fK',
        icon: './images/pandora.svg',
        hoverColor: '#00A0EE'
      },
      //- {
      //-   text: 'Tidal',
      //-   url: 'https://listen.tidal.com/album/301060654',
      //-   icon: './images/tidal.svg',
      //-   hoverColor: '#d4d4d4'
      //- }
    ]
    const purchaseServices = [
      {
        text: 'Bandcamp',
        url: 'https://deependyouth.bandcamp.com/album/deep-end-youth',
        icon: './images/bandcamp.svg',
        hoverColor: '#629aa9'
      },
      {
        text: 'Amazon',
        url: 'https://amazon.com/dp/B0C8WW6ZCQ',
        icon: './images/amazon.svg',
        hoverColor: '#0DBFF5'
      }
    ]

  mixin generateCard(params)
    -
      // defaults
      var config = {
        text: 'Spotify',
        url: 'https://www.spotify.com',
        icon: 'https://placekitten.com/40/40',
        hoverColor: 'salmon'
      }

      for (var key in params) {
        config[key] = params[key]
      }
      const randomId = Math.random().toString(36).substring(7);
      const cardId = 'card-' + randomId
    style.
      ##{cardId}:hover {
        background-color: #{config.hoverColor}
      }
    // begin card
    a.js-track-clicks.card.ml0.mr0.card.flex.flex-row.h4.items-center.justify-between.bg-white.black(href=config.url id=cardId)
      span.card-icon.block.sm3
        img.block.mx-auto(src=config.icon)
      span.card-text.relative.block.sm9.caps=config.text
        span.card-arrow
 
  div.josefin-sans.relative.z1.bg-white-trans.sm11.mx-auto.mb3(style='max-width:440px;')
    div.relative.z1.flex.flex-column.white.sm12.mb1
      a.js-track-clicks.main-image(href='https://open.spotify.com/album/7b0V4nQZGQMOkhSQPHPqxk')
        img.block.sm12.relative(src="./images/cover2.jpeg" alt="Deep End Youth Album Cover")
    div.block.p4
      div.relative.z1.flex.flex-column.white.sm12.mb1
        h2.black.italic.fw500.caps.mb1.pl1 Stream
        each service in streamingServices
          +generateCard(service)
      
      div.relative.z1.flex.flex-column.white.sm12.mb1
        h2.black.italic.fw500.caps.mb1.pl1 Buy
        each service in purchaseServices
          +generateCard(service)
  div.outro
   p.p5.md-p1.white-trans.md-text-center.josefin-sans 
    span.title 
    span.copy
      | swim before you sink the bottom her deepest blue float don't overthink for all she knows, will weigh you down  leave 'em all behind you butterfly in the deep end give in to the moment before it's through  rising to the skyline panorama endless gentle understanding of caring less  ages we flow through aren't candles to right now so much light we see don't douse me with your salty eyes  leaving us behind you butterfly in the deep end you only have a moment and then it's through  rising to the skyline panorama endless gentle understanding of caring less  parallax always from different places separate ways towards the same thing dirty globe we burned it down together journey on towards the same dream  leaving her behind me blow up dolls in the deep end if we had a moment then now it's through  rising to the skyline panorama shameless gentle reminder to care much less  refracting each other outwardly escaping refracting making colors i just want the same thing
  include ./pug/footer.pug